{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'option</h1>

    {# Facon la plus simple d'afficher le formulaire sans modifications
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn btn-primary">Editer</button>
    {{ form_end(form) }}   #}
        {{ include('/admin/option/_form.html.twig',{form: form, button: 'Editer'}) }}

    </div>
{% endblock %}
